body {
    margin: 0;
    padding: 0;
    background: #ccc;
}

.buffer {
    height: 50vh;
    width: 100%;
    background: black;
}

.wrapper {
    background: yellow;
    height: 500vh;
    position: relative;
}

.slide {
    background: red;
    height: 100vh;
    width: 100%;
    top: -1px;
    position: sticky;
}